@charset "utf-8";
/* reset css : 기본 요소의 css 초기화*/
body,
figure,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  cursor: default;
}


.user-profile_p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.user-profile_h2 {
  display: block;
  font-size: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
